*{box-sizing: border-box;}
:root{
    --primary : rgb(69, 98, 161);
}
body ,html{
    padding: 0;
}
body{
    font-family: Calibri, sans-serif;
}
button{
    height: 35px;
    width: 100%;
    border: 2px solid var(--primary);
    background-color: #ffffff;
    transition: all .2s ease-out;
    font-size: 16px;
}
button:hover{
    background-color:var(--primary);
    color: #ffffff;
}
#homepage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
}